<ion-header >
  <ion-toolbar>
    <span class="toolbar-label">Downloads</span>
    <ion-buttons slot="end">
      <i class="material-icons" routerLink="/whats-new">schedule</i>

      <i class="material-icons" routerLink="/settings">person</i>      
    </ion-buttons>
    
    <ion-buttons slot="start">
      <ion-menu-button>
        <i class="material-icons" >menu</i>
      </ion-menu-button>
    </ion-buttons>    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ml-1">Downloads Category</h1>
  <ion-item *ngFor="let item of parentDownloadList" detail="false">
    <ion-label>
      <h3>{{ item.title | uppercase }}</h3>
      <!-- Video Player goes here. -->
      <!-- <img [src]="item.picture" (click)="play(item.filename)"/> -->
      <video [id]="item.filename" height="300" controls controlsList="nodownload">
      </video>
      <p>
        <span class="v-align-middle">
          Video Size: 245.
        </span>
        <span style="color: rgb(222, 70, 70)" class="flex align-center v-align-middle float-right">
          Delete
          <i class="material-icons">close</i>
        </span>
      </p>
    </ion-label>
  </ion-item>
</ion-content>