<ion-header  >
  <ion-toolbar>
    <span class="toolbar-label">Tactical Lessons</span>
    <ion-buttons slot="end">
      <i class="material-icons" routerLink="/whats-new">schedule</i>

      <i class="material-icons" routerLink="/settings">person</i>      
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button>
        <i class="material-icons" >menu</i>
      </ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{hidden: isLoading}">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-wrapper ">

    <p class="bold-green-text has-horizontal-padding">
      Latest Beginner lessons
    </p>
    <div class="scroll-wrapper" *ngIf="latestBeginner">
      <div class="horizontal-scroll">
        <img *ngFor="let tp of latestBeginner" routerLink="/tactical-lessons/{{tp.id}}" [src]="tp.featured_image_src" />
      </div>
    </div>

    <p class="bold-green-text has-horizontal-padding">
      Latest Intermediate lessons
    </p>
    <div class="scroll-wrapper" *ngIf="latestIntermediate">
      <div class="horizontal-scroll">
        <img *ngFor="let tp of latestIntermediate" routerLink="/tactical-lessons/{{tp.id}}" [src]="tp.featured_image_src" />
      </div>
    </div>

    <p class="bold-green-text has-horizontal-padding">
      Latest Advanced lessons
    </p>
    <div class="scroll-wrapper" *ngIf="latestAdvanced">
      <div class="horizontal-scroll">
        <img *ngFor="let tp of latestAdvanced" routerLink="/tactical-lessons/{{tp.id}}" [src]="tp.featured_image_src" />
      </div>
    </div>
    <div class="has-padding">
    
    <p class="bold-green-text no-bottom-space">
      All Tactical lessons
    </p>
    <div class="list-of-all">
      <ion-button *ngFor="let category of categoryNames" (click)="toggleCategory(category)"
          [ngClass]="{'gradient-button': planCategories[category], 'inactive-button': !planCategories[category]}" >
        {{category}}
      </ion-button>
    </div>

    <div class="list-of-all">
      <ion-button *ngFor="let category of pageCategories; " (click)="togglePageCategory(category.name)"
          [ngClass]="{'gradient-button': isCatSelected(category.name), 'inactive-button': !isCatSelected(category.name)}" >
        {{category.name}}
      </ion-button>
    </div>

    <div *ngFor="let tp of filteredTacticalLessons" class="record-info-wrapper" routerLink="/tactical-lessons/{{tp.id}}">
      <p class="bold-blue-text" >
        Tactical Lesson | {{tp.excerpt.category}}
      </p>
      <p class="bold-green-text">
        {{tp.title}}

        <i class="material-icons" routerLink="/tactical-lessons/{{tp.id}}" color="success">chevron_right</i>
      </p>
      <p>Coach: {{tp.excerpt.coach}} | Duration: {{tp.excerpt.duration}}</p>
      <hr>
    </div>

    <div *ngIf="displayCount < allFiltered.length" class="footer-wrapper">
      <ion-button class="gradient-button big-btn" (click)="loadMore()">
        LOAD MORE
      </ion-button>
    </div>
  </div>
  </div>
</ion-content>
