<iframe [src]="'https://player.vimeo.com/video/' + videoId | safe" 
  frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen height="{{getCorrecWidth()}}" 
  ></iframe>
<div class="buttom-section" *ngIf="!hideLikes">
  <div class="section" >
    <i *ngIf="!isDownloading && !downloaded && !isPopUp" (click)="openDownloadOptions('https://player.vimeo.com/video/' + videoId, videoId)" class="material-icons">download</i>
    <i *ngIf="isPopUp && !downloaded">
      <ion-spinner style="width: 6vw"></ion-spinner>
    </i>
    <i *ngIf="isDownloading && !downloaded" (click)="cancelDownload()">
      <div class="my-download-progress" [ngStyle]="{'background': 'conic-gradient(rgb(37, 239, 203)' + (progressDownload | async) * 3.6 + 'deg, rgb(72 177 158 / 78%) 36deg 170deg)'}"></div>
    </i>
    <!-- <i *ngIf="isDownloading && !downloaded" style="width: 6vw">
      <circle-progress
        [percent]="progressDownload | async"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#25efcb'"
        [innerStrokeColor]="'#25efcb'"
        [animation]="true"
        [titleFontSize]="100"
        [titleColor]="'#3dc2ff'"
        [showSubtitle]="false"
        [animationDuration]="0"
        [responsive]="true"
      ></circle-progress>
    </i> -->
    <i *ngIf="downloaded" class="material-icons">download_done</i>
    <i *ngIf="!favoritesService.favoritedVideos[videoId]" (click)="addFavoriteVideo(videoId)" class="material-icons">favorite_border</i>
    <i *ngIf="favoritesService.favoritedVideos[videoId]" (click)="removeFavoriteVideo(videoId)" class="material-icons">favorite</i>
    <i (click)="openPopover($event)" class="material-icons">playlist_add</i>
  </div>
</div>
